$map: (shells: #7123d9,
  mermaid: #bb29bb,
  ariel: #f8e9f8,
  elsa: #e0f6f7,
  dryink: #63666a,
  blackhole: #272525,
  coal: #444444,
  ash: #979797,
  pencil: #646464,
  dust: #f4f4f4,
  eyore: #bbbcbc,
  steel: #ced0d0,
  gandalf: #dadbdb,
  londonfog: #eceded,
  gandalfthewhite: #f6f7f7,
  nuskinblue: #008ab0,
  color-error: #b2140a,
  progress-color: #22d55c,
  warning-color: #fcbc00,
  information-color: #123dba,
  notice-color: #35b2f0,
  lemon: #ffd700,
  lime: #c4d600,
  lipstick: #ff00ad,
  tangerine: #ff5e00,
  poppy: #e10098,
  sea-senor: #00b5e2,
  magic: #bb29bb,
  raspberry: #930093,
  astronomy: #440099,
  babe: #37b0c9,
  boringblue: #b9e1ea,
  elf: #e7faff,
  blossom: #ff76b9,
  aqua: #1cd8d2,
  dusk: #007298,
  white: #ffffff,
  black: #000000,
  cheddar: #ffd700,
  success: #6bc56a,
  redshirt: #c23934,
  olive: #7d740c,
  redshirt-dark: #a52e29,
  cheddar-dark: #f9b249,
  success-dark: #64a262,
  aqua-dark: #1f9fbe,
  seafoam-light: #93edc7,
  sunset-dark: #9349b4,
  sunset-light: #ff8782);

@import './functions.scss';

html {
  font-size: 16px;
  box-sizing: border-box;
}

@each $element,
$color in $map {
  .#{$element} {
    background-color: $color;
    color: choose-contrast-color($color);

    button.#{$element} {
      background-color: $color;
      color: choose-contrast-color($color);
    }
  }
}

button[class^='class-'] {
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  margin-top: 10px;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(18, 19, 21, 0.12),
      0 4px 12px 0 rgba(18, 19, 21, 0.12);
    animation: pulse .5s forwards;
  }
}

.font-weight-light {
  font-size: 18px !important;
}


.headline {
  font-family: 'proxima-nova', Arial, Helvetica, sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.hex,
.var {
  font-family: 'proxima-nova-extra-condensed' !important;
  font-weight: 400;
  text-align: left;
  font-size: 1em;
  color: #63666a;

}

.section {
  display: grid;
  grid-gap: 1.2rem;
  grid-auto-rows: auto;
  margin-bottom: 3.2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  position: relative;

  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    top: -30px;
    font-style: italic;
  }

  div {
    &.color-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      flex-flow: row wrap;

      .left-side {
        .square {
          width: 75px;
          height: 75px;
          border: 1px solid #63666a !important;

          &:hover {
            box-shadow: 0 0 4px 0 rgba(18, 19, 21, 0.12),
              0 4px 12px 0 rgba(18, 19, 21, 0.12);
          }
        }

        margin-right: 15px;
      }

      .right-side {

        margin-right: auto;

        p {
          margin: 0;
        }
      }

    }
  }
}

.feedback {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  width: 500px;
  box-shadow: 0 0 4px 0 rgba(18, 19, 21, 0.12),
    0 4px 12px 0 rgba(18, 19, 21, 0.12);
  font-size: 2em;


}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }


}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }


}