.headline {
	font-family: 'proxima-nova', Arial, Helvetica, sans-serif !important;
	font-weight: 600 !important;
}

$map: (
	shells: #7123d9,
	mermaid: #bb29bb,
	ariel: #f8e9f8,
	elsa: #e0f6f7,
	dryink: #63666a,
	blackhole: #272525,
	coal: #444444,
	ash: #979797,
	pencil: #646464,
	dust: #f4f4f4,
	eyore: #bbbcbc,
	steel: #ced0d0,
	gandalf: #dadbdb,
	londonfog: #eceded,
	gandalfthewhite: #f6f7f7,
	nuskinblue: #008ab0,
	color-error: #b2140a,
	progress-color: #22d55c,
	warning-color: #fcbc00,
	information-color: #123dba,
	notice-color: #35b2f0,
	lemon: #ffd700,
	lime: #c4d600,
	lipstick: #ff00ad,
	tangerine: #ff5e00,
	poppy: #e10098,
	sea-senor: #00b5e2,
	magic: #bb29bb,
	raspberry: #930093,
	astronomy: #440099,
	babe: #37b0c9,
	boringblue: #b9e1ea,
	elf: #e7faff,
	blossom: #ff76b9,
	aqua: #1cd8d2,
	dusk: #007298,
	white: #ffffff,
	black: #000000,
	cheddar: #ffd700,
	success: #6bc56a,
	redshirt: #c23934,
	olive: #7d740c,
	redshirt-dark: #a52e29,
	cheddar-dark: #f9b249,
	success-dark: #64a262,
	aqua-dark: #1f9fbe,
	seafoam-light: #93edc7,
	sunset-dark: #9349b4,
	sunset-light: #ff8782
);

@import './functions.scss';

@each $element, $color in $map {
	.#{$element} {
		background-color: $color;
		color: choose-contrast-color($color);
	}
}

.v-card__title {
	justify-content: center;
}

.headline,
.hex {
	// color: white;
	// mix-blend-mode: difference;
	//text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.hex {
	font-family: 'proxima-nova-extra-condensed' !important;
	font-weight: 400;
	text-align: center;
}

.v-btn {
	margin-left: auto;
}

@media (min-width: 600px) {
	.flex.sm2 {
		max-width: calc(16.66666667% - 7.5px);
		margin-bottom: 15px;
	}
}
